<div class="container">
    <div class="row justify-content-center">
        {{#with set}}
            <div class="col-md-12 markup-center">
                <h2 class="text-white">Edit the <span class="text-warning">{{name}}</span> deck</h2>
                <img src="{{img}}" class="deckImg" alt="setImg">
            </div>
        {{/with}}
    </div>

    <div class="row">
        <div class="col-md-5 text-white liInfo back-trans">
            <h3 class="markup-center">Your cards:</h3>
            {{#with set}}
            <form action="/profile/setedit/add/{{id}}" method="POST">
            {{/with}}
                <div class="row">
                    <div class="col-md-7">
                        {{#each cards}}
                        <li>
                            <label for="cardimg"><img src="{{imageUrl}}" alt="{{name}}" class="img-label"></label>
                            <input type="checkbox" name="cardname" id="cardname" value="{{id}}">
                            <br>
                            <label for="cardname">{{name}}</label>
                        </li>
                        {{/each}}
                    </div>
                    <div class="col-md-5 markup-center">
                        <button type="submit" class="btn btn-success position-fixed">Add cards</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5 offset-2 text-white liInfo back-trans">
            <h3 class="markup-center">Cards inside the deck:</h3>
            {{#with set}}
                <form action="/profile/setedit/deletecard/{{id}}" method="POST"> 
                <div class="row">
                        <div class="col-md-7">
                            {{#each cards}}
                            <li>
                                <label for="cardimg"><img src="{{imageUrl}}" alt="{{name}}" class="img-label"></label>
                                <input type="checkbox" name="cardname" id="cardname" value="{{_id}}">
                                <br>
                                <label for="cardname">{{name}}</label>
                            </li>
                            {{/each}}
                        </div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-danger position-fixed">Delete cards from deck</button>
                        </div>
                </div>
                </form>
            {{/with}}
        </div>
    </div>
</div>