<div class="container">
    <div class="row justify-content-center">
        {{#with set}}
            <div class="col-md-12">
                <h2>Edit the {{name}} deck</h2>
                <img src="{{img}}" class="deckImg" alt="setImg">
            </div>
        {{/with}}
    </div>
    <div class="row">
            <div class="col-md-6">
                <h3>Your cards:</h3>
                {{#with set}}
                <form action="/profile/setedit/{{id}}" method="POST">
                {{/with}}
                    {{#each card}}
                    <label for="cardname">{{name}}</label>
                    <input type="checkbox" name="cardname" id="cardname" value="{{id}}">
                    {{/each}}
                    <button type="submit">Add cards</button>
                </form>
            </div>
        <div class="col-md-6">
            {{#with set}}
                <h3>Cards inside the deck:</h3>
                <ul>
                    {{#each cards}}
                        <li>{{name}}</li>
                    {{/each}}
                </ul>
            {{/with}}
        </div>
    </div>
</div>
