<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{img}}" alt="{{name}}">
        </div>
        <div class="col-md-6">
            <ul>
                <li>{{name}}</li>
                <li>{{colors}}</li>
                <li><p>{{text}}</p></li>
                <li>
                    {{#each mana}}
                        <img class="imgMana" src="{{this}}" alt="manaImg">
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <a class="btn btn-dark" href="/profile">Back</a>
</div>