<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{img}}" alt="{{name}}" class="imgcard">
            <br>
            <span class="ulInfo text-warning">{{name}}</span>
        </div>
        <div class="col-md-6">
            <ul class="ulInfo">
                <li class="text-white liInfo"><span>Name: </span>{{name}}</li>
                <li class="text-white liInfo"><span>Color: </span>{{colors}}</li>
                <li class="text-white liInfo rules"><span>Description: </span>{{text}}</li>
                <li class="text-white liInfo">
                    <span>Mana cost: </span>
                    {{#each mana}}
                        <img class="imgMana" src="{{this}}" alt="manaImg">
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <a class="btn btn-orange" href="/profile">Back</a>
</div>