<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{card.imageUrl}}" alt="{{card.name}}" class="imgcard">
        </div>
        <div class="col-md-6">
            <ul class="ulInfo">
                <li class="text-white liInfo"><span>Name: </span>{{card.name}}</li>
                <li class="text-white liInfo"><span>Color: </span>{{card.colors}}</li>
                <li class="text-white liInfo"><span>Rules: </span>{{card.text}}</li>
                <li class="text-white liInfo"><span>Mana cost: </span>{{card.manaCost}}</li>
            </ul>
        </div>
    </div>

    <a href="/main/cardlist/{{card.id}}/selected" class="btn btn-primary">Add it to your collection</a>
</div>