<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{card.imageUrl}}" alt="{{card.name}}" class="imgcard">
            <br>
            <span class="ulInfo text-warning">{{card.name}}</span>
        </div>
        <div class="col-md-6">
            <ul class="ulInfo">
                <li class="text-white liInfo"><span>Name: </span>{{card.name}}</li>
                <li class="text-white liInfo"><span>Color: </span>{{card.colors}}</li>
                <li class="text-white liInfo rules"><span >Description: </span>{{card.text}}</li>
                <li class="text-white liInfo">
                    <span>Mana cost: </span>
                    {{#each card.manaCost}}
                        <img class="imgMana" src="{{this}}" alt="manaImg">
                    {{/each}}</li>
                
            </ul>
        </div>
    </div>

    <a class="btn btn-primary" href="/main/cardlist/{{card.id}}/selected">Add it to your collection</a>
    <a class="btn btn-orange" href="/main/cardlist">Back</a>
</div>