<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{card.imageUrl}}" alt="{{card.name}}">
        </div>
        <div class="col-md-6">
            <ul>
                <li>{{card.name}}</li>
                <li>{{card.colors}}</li>
                <li><p>{{card.text}}</p></li>
                <li>
                    {{#each card.manaCost}}
                        <img class="imgMana" src="{{this}}" alt="manaImg">
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <a class="btn btn-dark" href="/main/cardlist/{{card.id}}/selected">Add it to your collection</a>
    <a class="btn btn-dark" href="/main/cardlist">Back</a>
</div>