
<div class="col-md-3 card background">
    <a href="/main/cardlist/{{id}}" class="markup-center text-warning"> 
        <img src="{{imageUrl}}" alt="{{name}}" class="imgcard">
        <span class="ulInfo">{{name}}<span>
    </a>
    <a id="add-{{id}}" class="btn btn-primary markup-center" href="/main/cardlist/{{id}}/selected">Add it to your collection</a>
</div>